In [46]:
import pandas as pd
import numpy as np
import re #Regex lib
from forex_python.converter import CurrencyRates #currencies lib
from datetime import datetime
import matplotlib

### Read in the dataframes and create a dict {(year, dataframe)}

In [47]:
# Create a list of filenames for the datasets
years = [2017, 2018, 2019, 2020]
file_names = ['datasets/{}.csv'.format(year) for year in years]

# Read in the dataframes and create a dict {(year, dataframe)}
data_frames_dict = {}

#data_frames_dict[2017] = pd.read_csv('datasets/2017.csv', encoding = "ISO-8859-1").filter(items=['Country', 'Age']).dropna(thresh=2) 
data_frames_dict[2018] = pd.read_csv('datasets/2018.csv', encoding = "ISO-8859-1").filter(items=['Country',  'Age']).dropna(thresh=2) 
data_frames_dict[2019] = pd.read_csv('datasets/2019.csv', encoding = "ISO-8859-1").filter (items=['Country',  'Age']).dropna(thresh=2) 
data_frames_dict[2020] = pd.read_csv('datasets/2020.csv', encoding = "ISO-8859-1").filter (items=['Country',  'Age']).dropna(thresh=2) 
data_frames_dict[2021] = pd.read_csv('datasets/2020.csv', encoding = "ISO-8859-1").filter (items=['Country',  'Age']).dropna(thresh=2)

/usr/local/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [48]:
def age_mapper(age):
    if age < 18:
        return 'Under 18 years old'
    elif age >= 18 and  age<=24:
        return '18 - 24 years old'
    elif age >= 25 and age <= 34:
        return '25 - 34 years old'
    elif age >= 35 and age <=  44:
        return '35 - 44 years old'
    elif age >= 45 and age <= 54: 
        return '45 - 54 years old' 
    elif age >= 55  and age <= 64:
        return '55 - 64 years old'
    elif age >= 65:
        return '65 years or older'
    else:
        raise Exception("Age invalid")

### obtain developer types

In [49]:
for year, df in data_frames_dict.items():
    if year != 2018:
        df.Age = df.Age.apply(lambda x: age_mapper(int(x)))
    df['AgeCount'] = pd.Series(np.ones(len(df.Age)), index=df.index)  
    df = df.groupby(by=['Country','Age'] , as_index=False).sum()
    print(df.head(30))

    df.to_csv(path_or_buf = 'processed_data/age/{}-age_count_per_country.csv'.format(year), index=False)

                Country                 Age  AgeCount
0           Afghanistan   18 - 24 years old       6.0
1           Afghanistan   25 - 34 years old       6.0
2           Afghanistan   35 - 44 years old       2.0
3           Afghanistan   45 - 54 years old       1.0
4           Afghanistan  Under 18 years old       1.0
5               Albania   18 - 24 years old      20.0
6               Albania   25 - 34 years old      21.0
7               Albania   35 - 44 years old       3.0
8               Albania  Under 18 years old       4.0
9               Algeria   18 - 24 years old      22.0
10              Algeria   25 - 34 years old      27.0
11              Algeria   35 - 44 years old       6.0
12              Algeria   45 - 54 years old       3.0
13              Algeria  Under 18 years old       2.0
14              Andorra   35 - 44 years old       2.0
15              Andorra   45 - 54 years old       1.0
16              Andorra   55 - 64 years old       1.0
17              Andorra   65 years or older       1.0
18               Angola   25 - 34 years old       1.0
19  Antigua and Barbuda   55 - 64 years old       1.0
20            Argentina   18 - 24 years old      69.0
21            Argentina   25 - 34 years old     229.0
22            Argentina   35 - 44 years old      89.0
23            Argentina   45 - 54 years old      17.0
24            Argentina   55 - 64 years old       5.0
25            Argentina  Under 18 years old       5.0
26              Armenia   18 - 24 years old      21.0
27              Armenia   25 - 34 years old      38.0
28              Armenia   35 - 44 years old       1.0
29              Armenia   45 - 54 years old       2.0
                Country                 Age  AgeCount
0           Afghanistan   18 - 24 years old      10.0
1           Afghanistan   25 - 34 years old      10.0
2           Afghanistan   55 - 64 years old       1.0
3           Afghanistan   65 years or older       1.0
4           Afghanistan  Under 18 years old       1.0
5               Albania   18 - 24 years old      41.0
6               Albania   25 - 34 years old      22.0
7               Albania   35 - 44 years old       8.0
8               Albania  Under 18 years old       1.0
9               Algeria   18 - 24 years old      46.0
10              Algeria   25 - 34 years old      44.0
11              Algeria   35 - 44 years old       9.0
12              Algeria   45 - 54 years old       5.0
13              Algeria   55 - 64 years old       2.0
14              Algeria  Under 18 years old       3.0
15              Andorra   18 - 24 years old       3.0
16              Andorra   45 - 54 years old       1.0
17               Angola   18 - 24 years old       2.0
18               Angola   35 - 44 years old       1.0
19  Antigua and Barbuda   18 - 24 years old       1.0
20  Antigua and Barbuda  Under 18 years old       1.0
21            Argentina   18 - 24 years old      95.0
22            Argentina   25 - 34 years old     257.0
23            Argentina   35 - 44 years old     128.0
24            Argentina   45 - 54 years old      18.0
25            Argentina   55 - 64 years old       6.0
26            Argentina   65 years or older       2.0
27            Argentina  Under 18 years old      16.0
28              Armenia   18 - 24 years old      26.0
29              Armenia   25 - 34 years old      49.0
        Country                 Age  AgeCount
0   Afghanistan   18 - 24 years old      12.0
1   Afghanistan   25 - 34 years old       8.0
2   Afghanistan  Under 18 years old       2.0
3       Albania   18 - 24 years old      12.0
4       Albania   25 - 34 years old      13.0
5       Albania   35 - 44 years old       4.0
6       Albania  Under 18 years old       1.0
7       Algeria   18 - 24 years old      18.0
8       Algeria   25 - 34 years old      24.0
9       Algeria   35 - 44 years old       6.0
10      Algeria   65 years or older       1.0
11      Algeria  Under 18 years old       2.0
12      Andorra   25 - 34 years old       1.0
13      Andorra   35 - 44 years old       1.0
14      Andorra   45 - 54 years old       1.0
15       Angola   18 - 24 years old       1.0
16       Angola   25 - 34 years old       1.0
17       Angola   65 years or older       1.0
18    Argentina   18 - 24 years old      68.0
19    Argentina   25 - 34 years old     122.0
20    Argentina   35 - 44 years old      80.0
21    Argentina   45 - 54 years old      11.0
22    Argentina   55 - 64 years old      12.0
23    Argentina   65 years or older       1.0
24    Argentina  Under 18 years old       3.0
25      Armenia   18 - 24 years old      17.0
26      Armenia   25 - 34 years old      19.0
27      Armenia   35 - 44 years old       3.0
28    Australia   18 - 24 years old     141.0
29    Australia   25 - 34 years old     353.0
        Country                 Age  AgeCount
0   Afghanistan   18 - 24 years old      12.0
1   Afghanistan   25 - 34 years old       8.0
2   Afghanistan  Under 18 years old       2.0
3       Albania   18 - 24 years old      12.0
4       Albania   25 - 34 years old      13.0
5       Albania   35 - 44 years old       4.0
6       Albania  Under 18 years old       1.0
7       Algeria   18 - 24 years old      18.0
8       Algeria   25 - 34 years old      24.0
9       Algeria   35 - 44 years old       6.0
10      Algeria   65 years or older       1.0
11      Algeria  Under 18 years old       2.0
12      Andorra   25 - 34 years old       1.0
13      Andorra   35 - 44 years old       1.0
14      Andorra   45 - 54 years old       1.0
15       Angola   18 - 24 years old       1.0
16       Angola   25 - 34 years old       1.0
17       Angola   65 years or older       1.0
18    Argentina   18 - 24 years old      68.0
19    Argentina   25 - 34 years old     122.0
20    Argentina   35 - 44 years old      80.0
21    Argentina   45 - 54 years old      11.0
22    Argentina   55 - 64 years old      12.0
23    Argentina   65 years or older       1.0
24    Argentina  Under 18 years old       3.0
25      Armenia   18 - 24 years old      17.0
26      Armenia   25 - 34 years old      19.0
27      Armenia   35 - 44 years old       3.0
28    Australia   18 - 24 years old     141.0
29    Australia   25 - 34 years old     353.0