# GROUP 7_ INFOVIZ PROJECT

## An attempt to process and visualise the dataset_2021

# TODO: Visualise most used programming language per country on a map along with average salary per user, age, gender

## Preprocessing

1. Eliminate unnecessary columns from our dataset
2. Rename columns to make them more understandable
3. Change column dtypes where necessary
4. Delete rows without any info on Programming language used
5. Calculate the average salary per user in a country (Men/or women)
6. Gender?

In [12]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("survey_results_public_2021.csv")

In [3]:
df

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [4]:
df.head(10)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
5,6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
6,7,I code primarily as a hobby,I prefer not to say,United States of America,New Hampshire,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,...,Prefer not to say,Prefer not to say,No,NaN,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
7,8,I am a student who is learning to code,"Student, full-time",Malaysia,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Online Courses or Certification,4,...,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent;Multiracial;South...,None of the above,None of the above,Appropriate in length,Easy,NaN
8,9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,...,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
9,10,I am a developer by profession,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51552.0

In [5]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [6]:
df.shape

(83439, 48)

In [16]:
df.info

<bound method DataFrame.info of        ResponseId                                         MainBranch  \
0               1                     I am a developer by profession
1               2             I am a student who is learning to code
2               3  I am not primarily a developer, but I write co...
3               4                     I am a developer by profession
4               5                     I am a developer by profession
...           ...                                                ...
83434       83435                     I am a developer by profession
83435       83436                     I am a developer by profession
83436       83437                     I am a developer by profession
83437       83438                     I am a developer by profession
83438       83439                     I am a developer by profession

                                              Employment  \
0      Independent contractor, freelancer, or self-em...
1                                     Student, full-time
2                                     Student, full-time
3                                     Employed full-time
4      Independent contractor, freelancer, or self-em...
...                                                  ...
83434                                 Employed full-time
83435  Independent contractor, freelancer, or self-em...
83436                                 Employed full-time
83437                                 Employed full-time
83438                                 Employed full-time

                                                 Country    US_State  \
0                                               Slovakia         NaN
1                                            Netherlands         NaN
2                                     Russian Federation         NaN
3                                                Austria         NaN
4      United Kingdom of Great Britain and Northern I...         NaN
...                                                  ...         ...
83434                           United States of America       Texas
83435                                              Benin         NaN
83436                           United States of America  New Jersey
83437                                             Canada         NaN
83438                                             Brazil         NaN

      UK_Country                                            EdLevel  \
0            NaN  Secondary school (e.g. American high school, G...
1            NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2            NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
3            NaN    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
4        England    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
...          ...                                                ...
83434        NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83435        NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83436        NaN  Secondary school (e.g. American high school, G...
83437        NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83438        NaN                 Professional degree (JD, MD, etc.)

          Age1stCode                                          LearnCode  \
0      18 - 24 years  Coding Bootcamp;Other online resources (ex: vi...
1      11 - 17 years  Other online resources (ex: videos, blogs, etc...
2      11 - 17 years  Other online resources (ex: videos, blogs, etc...
3      11 - 17 years                                                NaN
4       5 - 10 years                            Friend or family member
...              ...                                                ...
83434  11 - 17 years  Other online resources (ex: videos, blogs, etc...
83435  11 - 17 years  Other online resources (ex: videos, blogs, etc...
83436  11 - 17 years                                             School
83437  11 - 17 years  Online Courses or Certification;Books / Physic...
83438  11 - 17 years                                             School

      YearsCode  ...              Age Gender Trans                Sexuality  \
0           NaN  ...  25-34 years old    Man    No  Straight / Heterosexual
1             7  ...  18-24 years old    Man    No  Straight / Heterosexual
2           NaN  ...  18-24 years old    Man    No        Prefer not to say
3           NaN  ...  35-44 years old    Man    No  Straight / Heterosexual
4            17  ...  25-34 years old    Man    No                      NaN
...         ...  ...              ...    ...   ...                      ...
83434         6  ...  25-34 years old    Man    No  Straight / Heterosexual
83435         4  ...  18-24 years old    Man    No  Straight / Heterosexual
83436        10  ...  25-34 years old    Man    No                      NaN
83437         5  ...  25-34 years old    Man    No  Straight / Heterosexual
83438        14  ...  18-24 years old    Man    No  Straight / Heterosexual

                          Ethnicity                Accessibility  \
0      White or of European descent            None of the above
1      White or of European descent            None of the above
2                 Prefer not to say            None of the above
3      White or of European descent  I am deaf / hard of hearing
4      White or of European descent            None of the above
...                             ...                          ...
83434  White or of European descent            None of the above
83435   Black or of African descent            None of the above
83436  White or of European descent            None of the above
83437  White or of European descent            None of the above
83438        Hispanic or Latino/a/x            None of the above

                                            MentalHealth  \
0                                      None of the above
1                                      None of the above
2                                      None of the above
3                                                    NaN
4                                                    NaN
...                                                  ...
83434  I have a concentration and/or memory disorder ...
83435                                  None of the above
83436                                  None of the above
83437  I have a mood or emotional disorder (e.g. depr...
83438                                  None of the above

                SurveyLength                  SurveyEase ConvertedCompYearly
0      Appropriate in length                        Easy             62268.0
1      Appropriate in length                        Easy                 NaN
2      Appropriate in length                        Easy                 NaN
3      Appropriate in length  Neither easy nor difficult                 NaN
4      Appropriate in length                        Easy                 NaN
...                      ...                         ...                 ...
83434  Appropriate in length                        Easy            160500.0
83435  Appropriate in length                        Easy              3960.0
83436  Appropriate in length  Neither easy nor difficult             90000.0
83437  Appropriate in length  Neither easy nor difficult            816816.0
83438  Appropriate in length                        Easy             21168.0

[83439 rows x 48 columns]>

In [8]:
df.dtypes

ResponseId                        int64
MainBranch                       object
Employment                       object
Country                          object
US_State                         object
UK_Country                       object
EdLevel                          object
Age1stCode                       object
LearnCode                        object
YearsCode                        object
YearsCodePro                     object
DevType                          object
OrgSize                          object
Currency                         object
CompTotal                       float64
CompFreq                         object
LanguageHaveWorkedWith           object
LanguageWantToWorkWith           object
DatabaseHaveWorkedWith           object
DatabaseWantToWorkWith           object
PlatformHaveWorkedWith           object
PlatformWantToWorkWith           object
WebframeHaveWorkedWith           object
WebframeWantToWorkWith           object
MiscTechHaveWorkedWith           object
MiscTechWantToWorkWith           object
ToolsTechHaveWorkedWith          object
ToolsTechWantToWorkWith          object
NEWCollabToolsHaveWorkedWith     object
NEWCollabToolsWantToWorkWith     object
OpSys                            object
NEWStuck                         object
NEWSOSites                       object
SOVisitFreq                      object
SOAccount                        object
SOPartFreq                       object
SOComm                           object
NEWOtherComms                    object
Age                              object
Gender                           object
Trans                            object
Sexuality                        object
Ethnicity                        object
Accessibility                    object
MentalHealth                     object
SurveyLength                     object
SurveyEase                       object
ConvertedCompYearly             float64
dtype: object

In [9]:
# rename a couple of columns
df.rename(columns = {'CompTotal':'GrossSalary','EdLevel':'EducationLevel','LearnCode':'LearnedHowToCode'})

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EducationLevel,Age1stCode,LearnedHowToCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [10]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [20]:
df = df.rename(columns = {'CompTotal':'GrossSalary','EdLevel':'EducationLevel','LearnCode':'LearnedHowToCode'})

In [21]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EducationLevel', 'Age1stCode', 'LearnedHowToCode',
       'YearsCode', 'YearsCodePro', 'DevType', 'OrgSize', 'Currency',
       'GrossSalary', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSys', 'NEWStuck', 'NEWSOSites',
       'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOComm', 'NEWOtherComms',
       'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity', 'Accessibility',
       'MentalHealth', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [22]:
df = df.rename(columns = {'LanguageHaveWorkedWith':'ProgLanguageUsed'})

In [15]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EducationLevel', 'Age1stCode', 'LearnedHowToCode',
       'YearsCode', 'YearsCodePro', 'DevType', 'OrgSize', 'Currency',
       'GrossSalary', 'CompFreq', 'ProgLanguageUsed', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [16]:
df.isnull()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EducationLevel,Age1stCode,LearnedHowToCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,False,False,False,False,True,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,True,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,True,True,False,False,True,True,...,False,False,False,False,False,False,True,False,False,True
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
83435,False,False,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
83436,False,False,False,False,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
83437,False,False,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
83438,False,False,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
df.isnull().any()

ResponseId                      False
MainBranch                      False
Employment                       True
Country                         False
US_State                         True
UK_Country                       True
EducationLevel                   True
Age1stCode                       True
LearnedHowToCode                 True
YearsCode                        True
YearsCodePro                     True
DevType                          True
OrgSize                          True
Currency                         True
GrossSalary                      True
CompFreq                         True
ProgLanguageUsed                 True
LanguageWantToWorkWith           True
DatabaseHaveWorkedWith           True
DatabaseWantToWorkWith           True
PlatformHaveWorkedWith           True
PlatformWantToWorkWith           True
WebframeHaveWorkedWith           True
WebframeWantToWorkWith           True
MiscTechHaveWorkedWith           True
MiscTechWantToWorkWith           True
ToolsTechHaveWorkedWith          True
ToolsTechWantToWorkWith          True
NEWCollabToolsHaveWorkedWith     True
NEWCollabToolsWantToWorkWith     True
OpSys                            True
NEWStuck                         True
NEWSOSites                       True
SOVisitFreq                      True
SOAccount                        True
SOPartFreq                       True
SOComm                           True
NEWOtherComms                    True
Age                              True
Gender                           True
Trans                            True
Sexuality                        True
Ethnicity                        True
Accessibility                    True
MentalHealth                     True
SurveyLength                     True
SurveyEase                       True
ConvertedCompYearly              True
dtype: bool

In [18]:
df.isnull().any().count()

48

In [19]:
df.isnull().sum()

ResponseId                          0
MainBranch                          0
Employment                        116
Country                             0
US_State                        68519
UK_Country                      79021
EducationLevel                    313
Age1stCode                        196
LearnedHowToCode                  476
YearsCode                        1798
YearsCodePro                    22223
DevType                         16955
OrgSize                         22713
Currency                        22359
GrossSalary                     36256
CompFreq                        31289
ProgLanguageUsed                 1082
LanguageWantToWorkWith           6618
DatabaseHaveWorkedWith          13893
DatabaseWantToWorkWith          25140
PlatformHaveWorkedWith          31304
PlatformWantToWorkWith          41820
WebframeHaveWorkedWith          21732
WebframeWantToWorkWith          31344
MiscTechHaveWorkedWith          36384
MiscTechWantToWorkWith          45418
ToolsTechHaveWorkedWith         10902
ToolsTechWantToWorkWith         17959
NEWCollabToolsHaveWorkedWith     2205
NEWCollabToolsWantToWorkWith    10417
OpSys                             145
NEWStuck                          387
NEWSOSites                        268
SOVisitFreq                      1026
SOAccount                         914
SOPartFreq                      15886
SOComm                           1120
NEWOtherComms                     611
Age                              1032
Gender                           1153
Trans                            2761
Sexuality                       10073
Ethnicity                        3975
Accessibility                    5836
MentalHealth                     6519
SurveyLength                     1728
SurveyEase                       1491
ConvertedCompYearly             36595
dtype: int64

In [23]:
columns_needed = ['Country','EducationLevel','LearnedHowToCode','GrossSalary','ProgLanguageUsed','Age','Gender']

In [25]:
New_df = df[columns_needed].copy()

In [26]:
New_df

,Country,EducationLevel,LearnedHowToCode,GrossSalary,ProgLanguageUsed,Age,Gender
0,Slovakia,"Secondary school (e.g. American high school, G...",Coding Bootcamp;Other online resources (ex: vi...,4800.0,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,25-34 years old,Man
1,Netherlands,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",NaN,JavaScript;Python,18-24 years old,Man
2,Russian Federation,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",NaN,Assembly;C;Python;R;Rust,18-24 years old,Man
3,Austria,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,NaN,JavaScript;TypeScript,35-44 years old,Man
4,United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Friend or family member,NaN,Bash/Shell;HTML/CSS;Python;SQL,25-34 years old,Man
...,...,...,...,...,...,...,...
83434,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",160500.0,Clojure;Kotlin;SQL,25-34 years old,Man
83435,Benin,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",200000.0,NaN,18-24 years old,Man
83436,United States of America,"Secondary school (e.g. American high school, G...",School,1800.0,Groovy;Java;Python,25-34 years old,Man
83437,Canada,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;Books / Physic...,90000.0,Bash/Shell;JavaScript;Node.js;Python,25-34 years old,Man
83438,Brazil,"Professional degree (JD, MD, etc.)",School,7700.0,Delphi;Elixir;HTML/CSS;Java;JavaScript,18-24 years old,Man

In [28]:
New_df.columns

Index(['Country', 'EducationLevel', 'LearnedHowToCode', 'GrossSalary',
       'ProgLanguageUsed', 'Age', 'Gender'],
      dtype='object')

In [25]:
New_df.shape

(83439, 7)

In [30]:
New_df['ProgLanguageUsed'].isnull().sum()

1082

In [31]:
New_df['ProgLanguageUsed'].dropna(axis=0)

0        C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
1                                    JavaScript;Python
2                             Assembly;C;Python;R;Rust
3                                JavaScript;TypeScript
4                       Bash/Shell;HTML/CSS;Python;SQL
                             ...
83433    Java;JavaScript;Kotlin;Objective-C;TypeScript
83434                               Clojure;Kotlin;SQL
83436                               Groovy;Java;Python
83437             Bash/Shell;JavaScript;Node.js;Python
83438           Delphi;Elixir;HTML/CSS;Java;JavaScript
Name: ProgLanguageUsed, Length: 82357, dtype: object

In [32]:
New_df

,Country,EducationLevel,LearnedHowToCode,GrossSalary,ProgLanguageUsed,Age,Gender
0,Slovakia,"Secondary school (e.g. American high school, G...",Coding Bootcamp;Other online resources (ex: vi...,4800.0,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,25-34 years old,Man
1,Netherlands,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",NaN,JavaScript;Python,18-24 years old,Man
2,Russian Federation,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",NaN,Assembly;C;Python;R;Rust,18-24 years old,Man
3,Austria,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,NaN,JavaScript;TypeScript,35-44 years old,Man
4,United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Friend or family member,NaN,Bash/Shell;HTML/CSS;Python;SQL,25-34 years old,Man
...,...,...,...,...,...,...,...
83434,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",160500.0,Clojure;Kotlin;SQL,25-34 years old,Man
83435,Benin,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",200000.0,NaN,18-24 years old,Man
83436,United States of America,"Secondary school (e.g. American high school, G...",School,1800.0,Groovy;Java;Python,25-34 years old,Man
83437,Canada,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;Books / Physic...,90000.0,Bash/Shell;JavaScript;Node.js;Python,25-34 years old,Man
83438,Brazil,"Professional degree (JD, MD, etc.)",School,7700.0,Delphi;Elixir;HTML/CSS;Java;JavaScript,18-24 years old,Man

In [33]:
New_df.dropna(subset=['ProgLanguageUsed'])

,Country,EducationLevel,LearnedHowToCode,GrossSalary,ProgLanguageUsed,Age,Gender
0,Slovakia,"Secondary school (e.g. American high school, G...",Coding Bootcamp;Other online resources (ex: vi...,4800.0,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,25-34 years old,Man
1,Netherlands,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",NaN,JavaScript;Python,18-24 years old,Man
2,Russian Federation,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",NaN,Assembly;C;Python;R;Rust,18-24 years old,Man
3,Austria,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,NaN,JavaScript;TypeScript,35-44 years old,Man
4,United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Friend or family member,NaN,Bash/Shell;HTML/CSS;Python;SQL,25-34 years old,Man
...,...,...,...,...,...,...,...
83433,Brazil,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Forum;Online Courses or Certification;O...,80000.0,Java;JavaScript;Kotlin;Objective-C;TypeScript,25-34 years old,Man
83434,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",160500.0,Clojure;Kotlin;SQL,25-34 years old,Man
83436,United States of America,"Secondary school (e.g. American high school, G...",School,1800.0,Groovy;Java;Python,25-34 years old,Man
83437,Canada,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;Books / Physic...,90000.0,Bash/Shell;JavaScript;Node.js;Python,25-34 years old,Man
83438,Brazil,"Professional degree (JD, MD, etc.)",School,7700.0,Delphi;Elixir;HTML/CSS;Java;JavaScript,18-24 years old,Man

In [34]:
New_df

,Country,EducationLevel,LearnedHowToCode,GrossSalary,ProgLanguageUsed,Age,Gender
0,Slovakia,"Secondary school (e.g. American high school, G...",Coding Bootcamp;Other online resources (ex: vi...,4800.0,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,25-34 years old,Man
1,Netherlands,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",NaN,JavaScript;Python,18-24 years old,Man
2,Russian Federation,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",NaN,Assembly;C;Python;R;Rust,18-24 years old,Man
3,Austria,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,NaN,JavaScript;TypeScript,35-44 years old,Man
4,United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Friend or family member,NaN,Bash/Shell;HTML/CSS;Python;SQL,25-34 years old,Man
...,...,...,...,...,...,...,...
83434,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",160500.0,Clojure;Kotlin;SQL,25-34 years old,Man
83435,Benin,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",200000.0,NaN,18-24 years old,Man
83436,United States of America,"Secondary school (e.g. American high school, G...",School,1800.0,Groovy;Java;Python,25-34 years old,Man
83437,Canada,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;Books / Physic...,90000.0,Bash/Shell;JavaScript;Node.js;Python,25-34 years old,Man
83438,Brazil,"Professional degree (JD, MD, etc.)",School,7700.0,Delphi;Elixir;HTML/CSS;Java;JavaScript,18-24 years old,Man

In [36]:
New_df.isnull().sum()

Country                 0
EducationLevel        313
LearnedHowToCode      476
GrossSalary         36256
ProgLanguageUsed     1082
Age                  1032
Gender               1153
dtype: int64

In [43]:
#Drop rows where users did not provide their Edlevel, Age range  and ProgLanguage
final_df = New_df.dropna(subset=['ProgLanguageUsed', 'EducationLevel', 'Age'])

In [44]:
final_df.isnull().sum()

Country                 0
EducationLevel          0
LearnedHowToCode      293
GrossSalary         34323
ProgLanguageUsed        0
Age                     0
Gender                421
dtype: int64

In [46]:
#rename the NA values in the gender column to "prefer not to say"
final_df.loc.Gender = final_df.Gender.fillna('prefer not to say')

In [52]:
final_df.loc.LearnedHowToCode = final_df.LearnedHowToCode.fillna('prefer not to say')

In [53]:
final_df.isnull().sum()

Country                 0
EducationLevel          0
LearnedHowToCode        0
GrossSalary         34323
ProgLanguageUsed        0
Age                     0
Gender                  0
dtype: int64

In [56]:
final_df.shape

(81224, 7)

In [55]:
final_df.Age

0        25-34 years old
1        18-24 years old
2        18-24 years old
3        35-44 years old
4        25-34 years old
              ...
83433    25-34 years old
83434    25-34 years old
83436    25-34 years old
83437    25-34 years old
83438    18-24 years old
Name: Age, Length: 81224, dtype: object

In [58]:
#Drop rows in which the user did not specify his/her age range
final_df.drop(final_df.index[final_df['Age'] == "Prefer not to say"])

,Country,EducationLevel,LearnedHowToCode,GrossSalary,ProgLanguageUsed,Age,Gender
0,Slovakia,"Secondary school (e.g. American high school, G...",Coding Bootcamp;Other online resources (ex: vi...,4800.0,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,25-34 years old,Man
1,Netherlands,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",NaN,JavaScript;Python,18-24 years old,Man
2,Russian Federation,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",NaN,Assembly;C;Python;R;Rust,18-24 years old,Man
3,Austria,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",prefer not to say,NaN,JavaScript;TypeScript,35-44 years old,Man
4,United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Friend or family member,NaN,Bash/Shell;HTML/CSS;Python;SQL,25-34 years old,Man
...,...,...,...,...,...,...,...
83433,Brazil,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Forum;Online Courses or Certification;O...,80000.0,Java;JavaScript;Kotlin;Objective-C;TypeScript,25-34 years old,Man
83434,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",160500.0,Clojure;Kotlin;SQL,25-34 years old,Man
83436,United States of America,"Secondary school (e.g. American high school, G...",School,1800.0,Groovy;Java;Python,25-34 years old,Man
83437,Canada,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;Books / Physic...,90000.0,Bash/Shell;JavaScript;Node.js;Python,25-34 years old,Man
83438,Brazil,"Professional degree (JD, MD, etc.)",School,7700.0,Delphi;Elixir;HTML/CSS;Java;JavaScript,18-24 years old,Man

In [59]:
final_df['Age'].value_counts()['Prefer not to say']

534

In [60]:
final_one_df = final_df.drop(final_df.index[final_df['Age'] == "Prefer not to say"])

In [61]:
final_one_df.shape

(80690, 7)

In [63]:
final_one_df.head(5)

,Country,EducationLevel,LearnedHowToCode,GrossSalary,ProgLanguageUsed,Age,Gender
0,Slovakia,"Secondary school (e.g. American high school, G...",Coding Bootcamp;Other online resources (ex: vi...,4800.0,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,25-34 years old,Man
1,Netherlands,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",NaN,JavaScript;Python,18-24 years old,Man
2,Russian Federation,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (ex: videos, blogs, etc...",NaN,Assembly;C;Python;R;Rust,18-24 years old,Man
3,Austria,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",prefer not to say,NaN,JavaScript;TypeScript,35-44 years old,Man
4,United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Friend or family member,NaN,Bash/Shell;HTML/CSS;Python;SQL,25-34 years old,Man

In [64]:
#TODO
#compute the average salary per country and fill the NA values with the mean of these values
#Visualise