In [111]:
import pandas as pd
import numpy as np
import re #Regex lib
from forex_python.converter import CurrencyRates #currencies lib
from datetime import datetime
import matplotlib

### Read in the dataframes and create a dict {(year, dataframe)}

In [112]:
# Create a list of filenames for the datasets

data_frames_dict = {}

data_frames_dict[2017] = pd.read_csv('datasets/2017.csv', encoding = "ISO-8859-1").filter(items=['Country', 'Currency',  'Salary', 'YearsCodedJob']).dropna(thresh=4) 
data_frames_dict[2018] = pd.read_csv('datasets/2018.csv', encoding = "ISO-8859-1").filter(items=['Country',  'ConvertedSalary', 'YearsCodingProf']).dropna(thresh=3) 
data_frames_dict[2019] = pd.read_csv('datasets/2019.csv', encoding = "ISO-8859-1").filter (items=['Country',  'CompTotal', 'YearsCodePro']).dropna(thresh=3) 
data_frames_dict[2020] = pd.read_csv('datasets/2020.csv', encoding = "ISO-8859-1").filter (items=['Country',  'CompTotal', 'YearsCodePro']).dropna(thresh=3) 
data_frames_dict[2021] = pd.read_csv('datasets/2021.csv', encoding = "ISO-8859-1").filter (items=['Country',  'CompTotal', 'YearsCodePro']).dropna(thresh=3)

/usr/local/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Section 1: Salary preprocessing

### The following currencies were found in the datasets and could not be converted to their equivalent currency symbols

In [113]:
currency_dict = {'Australian dollars (A$)': 'AUD',
 'Bitcoin (btc)': 'btc',
 'Brazilian reais (R$)': 'BRL',
 'British pounds sterling (Â£)': 'GBP',
 'Canadian dollars (C$)': 'CAD',
 'Chinese yuan renminbi (Â¥)': 'CNY',
 'Euros (â\x82¬)': 'EUR',
 'Indian rupees (?)': 'INR',
 'Japanese yen (Â¥)': 'JPY',
 'Polish zloty (zl)': 'PLN',
 'Russian rubles (?)': 'RUB',
 'Singapore dollars (S$)': 'SGD',
 'South African rands (R)': 'ZAR',
 'Swiss francs': 'CHF',
 'U.S. dollars ($)': 'USD',
 'none\tCook Islands dollar': 'NZD'}

### Compute currency symbols and add them to the 'currency_dict'

In [114]:
#helper function to covert currency to its symbol 
def add_currencies_to_dict(currency, currency_dict):
        currency_symbol = re.findall(r'[ˆA-Z]{3}', currency )

        if currency_symbol:
            # redundnat to add symbol to a dict {symbol -> symbol}but helps to treat all currencies the same
            currency_dict[currency] = currency_symbol[0]
        else:
            if currency not in currency_dict:
                print("WARN: there is no conversion available for this currency {}".format(currency))


# go through the  'CurrencySymbol' column if exists, otherwise 'Currency' 
# add all currencies that are not NaN to the 'currency_dict'
for year , df in data_frames_dict.items():
    
    # Check if Currecny column is present in df
    if 'CurrencySymbol' in df:
        print("{} year dataframe has a 'CurrencySymbol' column ".format(year))
        for currency_symbol in df.CurrencySymbol:
            #check for NaN
            if not pd.isna(currency_symbol):
                # redundnat to add symbol to a dict {symbol -> symbol}but helps to treat all currencies the same
                currency_dict[currency_symbol] = currency_symbol
    elif 'Currency' in df:
        print("{} year dataframe has a 'Currency' column ".format(year))
        for currency in df.Currency:
            #check for NaN
            if not pd.isna(currency):
                # add to dict {currency -> currency_symbol}
                add_currencies_to_dict(currency, currency_dict)

2017 year dataframe has a 'Currency' column

### Preporcess the salary related columns (currency, salary, salary type etc ) for datasets

#### Auxilliary/helper methods for currency conversions

In [115]:

def convert_currency(amount, currency, factor):
    return available_currencies_for_conversion[currency] * amount * factor


currency_converter = CurrencyRates()
date = datetime(2017, 12, 31, 18, 36, 28, 151012)

available_currencies_for_conversion = currency_converter.get_rates('EUR', date)

available_currencies_for_conversion['EUR']  = 1

# Take care of outlier salaries 
# max montly income in euros
max_montly_salary = 20000

# minimum mothly income in euros
min_montly_salary = 0

In [116]:
#Dictionary to hold processed payments/salary dataframes for yeas 2017 - 2021

clean_payment_dataframes_2017_to_2020 ={}

### Process 2017 payments

In [117]:
df_2017 = data_frames_dict[2017]

# annual salary divide by 12
annual_rate = float (1/12)


# for each currency entry, replace it with its currency symbol
df_2017.Currency = df_2017.Currency.apply(lambda x: currency_dict[x])


# Filter out the currencies that we cannot convert
df_2017 = df_2017[df_2017.Currency.apply(lambda c:   c  in available_currencies_for_conversion)]
    
# Covert salary to a euros and divide it by 12  
df_2017['Monthly_Sal_EUR'] = df_2017.apply(lambda row : convert_currency(row['Salary'],
                     row['Currency'], annual_rate), axis = 1)

# drop Currency, Salary columns 
# drop c salaries less than min_salary and greater than max salary 
df_2017 = df_2017.drop(['Currency','Salary' ], axis=1)
df_2017 = df_2017[(df_2017.Monthly_Sal_EUR > min_montly_salary) & (df_2017.Monthly_Sal_EUR < max_montly_salary)]

# process years of experience (find the years in the experience description and take the least number)
df_2017.YearsCodedJob = df_2017.YearsCodedJob.apply(lambda experience:   min(map(lambda s: int(s), re.findall(r'\d+', experience)), default="NA"))

#rename YearsCodedJob to YearsCodePro
df_2017.columns = df_2017.columns.str.replace("YearsCodedJob","YearsCodePro")

#drop any NA 
df_2017= df_2017.dropna(thresh=3)

clean_payment_dataframes_2017_to_2020[2017] = df_2017
df_2017

/var/folders/h2/9wb_tlwj1bd2smbvq_25k5z4097jdb/T/ipykernel_2484/4216822624.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017['Monthly_Sal_EUR'] = df_2017.apply(lambda row : convert_currency(row['Salary'],

              Country YearsCodePro  Monthly_Sal_EUR
2      United Kingdom           20      8410.201042
14     United Kingdom           20      7393.583333
17      United States           20     12992.416667
18      United States            3      8245.187500
22             Israel            5     10070.522100
...               ...          ...              ...
51371     Netherlands            5      6182.795699
51378          Cyprus            5      8960.573477
51382          France            1      2688.172043
51387   United States            1      5796.616667
51390   United States            3      3997.666667

[10809 rows x 3 columns]

### Process 2018 payments

In [118]:
df_2018 = data_frames_dict[2018]

print(df_2018.head())

# convert the converted annual USD salary to monthly salary 
df_2018['Monthly_Sal_EUR'] = df_2018.apply(
    lambda row : convert_currency(row['ConvertedSalary'],'USD', annual_rate), axis = 1)

# We are no longer interested in the ConvertedSalary
# Also drop outlier salaries 
df_2018 = df_2018.drop('ConvertedSalary', axis=1)[(df_2018.Monthly_Sal_EUR > min_montly_salary) & (df_2018.Monthly_Sal_EUR < max_montly_salary)]

df_2018['YearsCodePro'] = df_2018.YearsCodingProf.apply(lambda experience:   min(map(lambda s: int(s), re.findall(r'\d+', experience)), default="NA"))

# rename YearsCodingProf to YearsCodePro
df_2018.columns = df_2018.columns.str.replace("YearsCodingProf","YearsCodePro")

# drop any NA at this point 
df_2018= df_2018.dropna(thresh=3)

clean_payment_dataframes_2017_to_2020[2018] = df_2018
df_2018

          Country  ConvertedSalary YearsCodingProf
1  United Kingdom          70841.0     18-20 years
4    South Africa          21426.0       0-2 years
5  United Kingdom          41671.0       3-5 years
6   United States         120000.0       0-2 years
8   United States         250000.0     21-23 years

              Country  YearsCodePro  Monthly_Sal_EUR  YearsCodePro
1      United Kingdom   18-20 years      7079.967608            18
4        South Africa     0-2 years      2141.350150             0
5      United Kingdom     3-5 years      4164.669192             3
6       United States     0-2 years     11993.000000             0
17             Sweden     0-2 years      4787.605600             0
...               ...           ...              ...           ...
87235      Kyrgyzstan     0-2 years      1559.090000             0
87239         Armenia     0-2 years       499.708333             0
87246        Pakistan     0-2 years       325.010300             0
87259       Argentina     0-2 years      2398.600000             0
87282   United States     6-8 years     14541.512500             6

[43821 rows x 4 columns]

### Covert 2019 - 2021 - these data frames have the same salary related columns

In [119]:
df_2019_2021 = [data_frames_dict[2019], data_frames_dict[2020], data_frames_dict[2021]]
years = [2019, 2020, 2021]

annual_rate = 1/12

for year in years:
    df = data_frames_dict[year]

    # convert the converted annual USD salary to monthly salary 
    df['Monthly_Sal_EUR'] = df.apply(
        lambda row : convert_currency(row['CompTotal'],'USD', annual_rate), axis = 1)
    
    # drop CompTotal column
    # Also drop outlier salaries 
    df = df.drop('CompTotal', axis=1)[(df.Monthly_Sal_EUR > min_montly_salary) & (df.Monthly_Sal_EUR < max_montly_salary)]
    df.YearsCodePro = df.YearsCodePro.apply(lambda experience:   min(map(lambda s: int(s), re.findall(r'\d+', experience)), default="NA"))
    df= df.dropna(thresh=3)
    clean_payment_dataframes_2017_to_2020[year] = df

### Compute a summary pdf - average of montly salaries per country

In [123]:
summary_df = None
i = 0
for year, df in clean_payment_dataframes_2017_to_2020.items():
    df = df.filter(items=['Country', 'Monthly_Sal_EUR'] )
    print(year)
    print(df.head(10))
    
    # compute mean salary per country and reset the resulting df index
    df =  df.groupby('Country').mean()
    
    # add column names 
    df.columns = ['Country', year]
    
    # merge the resulting dataframes into a single df columns = years, rows = countries
    if i > 0:
        summary_df = pd.DataFrame.merge(summary_df,df,on='Country')
        i+=1 
    else:
        summary_df =  df
        i+=1

# Transpose the summary_df, now  columns = countries and rows = years 
summary_df = summary_df.T

# Pick all the countries -> first row of the transposed matrix
column_names = summary_df.iloc[0]
column_names = list(column_names) 

# drop the first row containing countries' names, instead make the countries the column names 
summary_df = summary_df.drop('Country')
summary_df.columns = column_names

# You can finally do some simple plots 
summary_df.plot( xticks = [2017, 2018, 2019, 2020, 2021], title= "A dirty plot of the world :P ")
summary_df[['Uzbekistan','France'] ].plot( xticks = [2017, 2018, 2019, 2020, 2021], title = "Uzbekistan vs. France ")

2017
           Country  Monthly_Sal_EUR
2   United Kingdom      8410.201042
14  United Kingdom      7393.583333
17   United States     12992.416667
18   United States      8245.187500
22          Israel     10070.522100
25   United States     17489.791667
34         Croatia      1236.559140
36       Argentina      2818.355000
37         Germany      9856.630824
52          Brazil      5189.337030

ValueError: cannot reindex from a duplicate axis

In [ ]:
summary_df

In [ ]:
df = clean_payment_dataframes_2017_to_2020[2017]
df[df.Monthly_Sal_EUR > max_montly_salary]

In [ ]:
summary_df = None
i = 0
for year, df in clean_payment_dataframes_2017_to_2020.items():
    df = df.filter(items=['Country', 'YearsCodePro'] )
    
    # compute mean salary per country and reset the resulting df index
    df =  df.groupby('Country').mean().reset_index()
    
    # add column names 
    df.columns = ['Country', year]
    
    # merge the resulting dataframes into a single df columns = years, rows = countries
    if i > 0:
        summary_df = pd.DataFrame.merge(summary_df,df,on='Country')
        i+=1 
    else:
        summary_df =  df
        i+=1

# Transpose the summary_df, now  columns = countries and rows = years 
summary_df = summary_df.T

# Pick all the countries -> first row of the transposed matrix
column_names = summary_df.iloc[0]
column_names = list(column_names) 

# drop the first row containing countries' names, instead make the countries the column names 
summary_df = summary_df.drop('Country')
summary_df.columns = column_names

# You can finally do some simple plots 
summary_df.plot( xticks = [2017, 2018, 2019, 2020, 2021], title= "A dirty plot of the world :P ")
summary_df[['Uzbekistan','France'] ].plot( xticks = [2017, 2018, 2019, 2020, 2021], title = "Uzbekistan vs. France ")